


header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 16px 0;
 margin: 0 24px;
 
}

.h{ 
    display: flex;
    gap: 6px;
    align-items: center; 
}
.font{
    display: flex; 
    gap: 16px; 
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 16px; 
}




.box1{
    background-color: rgb(183, 187, 190);
    display: flex;
    padding: 32px 24px;
    align-items: center;
}

.img{
width: 60%;
}

.box2{
    padding: 0px 24px;
    gap: 10px;
    justify-content: space-between;
}





  /* moblie */
@media screen and (max-width: 895px) and (min-width: 400px) {
    .f{
        display: none;
        padding: 16px 0;}
     .h{
        justify-content:  space-between;
        align-items: center;
        width: 100%;
        padding: 16px 0;
     }
}

/* web */
@media screen and (max-width: 2000px)and (min-width: 600px) {
    .icon{
        display: none;

    }
    
}